/* ASPOT CONTAINER */
/********************/

.aspot-container {
	background-color: $light-blue;
	height: 250px;
	margin-top:90px;
	width: 100%;
	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .aspot-filter {
		position: absolute;
		top: 90px;
		left: 0;
		height: 250px;
		width: 100vw;
		background: rgba(0, 0, 0, 0.35);
		@include breakFirst(sm) {
			height: 500px;
		}
	}
	h1, .page-subtitle {
		color: white;
		font-family: $font1;
	    width: 100%;
	    justify-content: center;
	    text-align: center;
		position: relative;
		top: 50%;
		z-index: 2;
		transform: translateY(-50%);
	}
	.page-subtitle {
		@include breakFirst(sm) {
			margin-top: -55px;
		}
	}
	.aspot-bg {
	
		&:after {
		  content: " ";
		  z-index: 2;
		  display: block;
		  position: absolute;
		  height: 250px;
		  top: 0;
		  left: 0;
		  right: 0;
		  background-color: $dark-blue;
		  opacity: .5;
  			@include breakFirst(sm) {
				height: 500px;
			}
		}
	}
	@include breakFirst(sm) {
		height: 500px;
	}
}