.assessment {
	padding: 50px 5%;
	background-color: white;
	text-align: center;

	display: flex;
	flex-direction: column;
	.assessment-header {
		font-size: 1.5em;
		font-weight: 400;
	}
	p {
		text-align: left;
		margin: 30px auto;
		font-weight: 100;
		font-size: 1.2em;
	}
	.img-container {
		order: -1;
		img {
			margin: 30px auto;
		}
		a {
			display: block;
			width: 150px;
			margin: 0 auto;
			line-height: 2;

		}
	}
	@include breakFirst(lg) {
		display: block;
		.left-column {
			float: left;
			width: 50%;
		}
		.img-container {
			display: inline-block;
			width: 40%;
		}
		.bottom-text {
			display: inline-flex;
			justify-content: space-between;
			p {
				flex: 0 0 48%;
				margin: 30px 0;
			}
		}
	}
}