/* BLOG STYLING */
/****************/

.blog-category {
	font-size: .9em;
}

/* archive.php */

.post-list-wrap {
	width: 70vw;
	margin: 0 auto;
	padding-bottom: 100px;
	* {
		color: black;	
	}
	@include breakFirst(sm) {
		width: 90%;
	}
	@include breakFirst(md) {
		width: 70%;
	}
	.post-preview {
  		
  		@include breakFirst(sm) {
  			display: flex;
  			flex-direction: row;
				justify-content: flex-start;
  		}
  		div {
  			
  			@include breakFirst(sm) {
  				flex: 0 0 40%;
  			}
  		}
		.post-preview-img {
			order: 1;
			
			@include breakFirst(sm) {
				order: 2;
				width: auto;
				height: 250px;
				margin-left: 100px;
			}
			img {
				width: 90%;
				@include breakFirst(sm) {
					width: auto;
					max-width: 450px;
					max-height: 300px;
				}
			}
		}
		.post-preview-text {
			order: 2;
			margin-top: 30px;
			h2 {
				@include buttonTransition();
				font-size: 1.7em;
				&:hover {
					color: $red;
				}
			}
			p > img {
				width: 100%;
				height: auto;
			}
			@include breakFirst(sm) {
				order: 1;
				margin-top: 0;
			}
		}
	}
	.break {
		margin: 30px auto;
		border-color: $light-grey;
		width: 100%;
	}
	.back {
		text-align: center;
		display: block;
		height: 50px;
		line-height: 4;
		margin-bottom: 40px;
		span {
			font-weight: 100;
			line-height: 3.5;
			color: white;
		}
		svg {
			margin-right: 5px;
			margin-top: 5px;
			width: 2em;
			height: 1.3em;
			stroke-width: 50px;
			fill: white;
		}
	}
}

//prev-next-posts
.page-button {
	@include buttonTransition()
	&:hover {
		background-color: $dark-blue;
	}
}

.page-prev {
	float: left;
}
.page-next {
	float: right;
}


/* single.php */
.container.single {
	padding: 30px 0;
	.single-wrapper {
		width: 75%;
		max-width: 1300px;
		margin: 0 auto;
		div, h1, h2 {
			margin: 50px auto;
		}
		h1 {
			font-size: 2em; 
			color: black;
		}
		h2 {
			color: black;
			font-size: 1.5em;
		}
		p {
			color: black;
		}

		.date {
			margin: 10px auto;
		}


		.header-container {
			display: flex;
			flex-wrap: wrap;
			margin: 50px 0 0;

			.title-img {
				flex: 1 0 35%;

				img {
					width: 100%;
					height: auto;
				}
			}
			.title-container {
				flex: 1 0 60%;
				margin: 0;
				margin-left: 30px;
				h1 {
					width: 100%;
					margin-bottom: 0;
				}
				.date {
					display: block;
					margin-bottom: 50px;
				}
				.author {
					a:hover {
						p, span {
							color: red;
						}
					}
					display: inline-block;
					margin: 0;
					margin-right: 30px;
					img {
						display: inline-block;
						width: 60px;
					}
					p {
						@include buttonTransition();
						display: inline-block;
						vertical-align: middle;
						// line-height: 4;
						padding-left: 5px;
						span {
							@include buttonTransition();
							display: block;
						}
					}
				}
			}
		}
		.single-date {
			padding-top: 10px;
		}
		.single-body {
			margin: 10px 0 50px;
		}
		.single-footer {
			text-align: left;
		}
		.back {
			text-align: center;
			display: block;
			height: 50px;
			line-height: 4;
			margin-bottom: 40px;
			span {
				font-weight: 100;
				line-height: 3.5;
			}
			svg {
				margin-right: 5px;
				margin-top: 5px;
				width: 2em;
				height: 1.3em;
				stroke-width: 50px;
				fill: white;
			}
		}
	}
}

.single-body p > img {
	width: 100%;
	height: auto;
}