.content-area-business {
	background-color: white;
}
.map-container {
	width: 70%;
	margin: auto;
	padding: 40px;
	img {
		width: 70vw;
		background-color: white;
	}
}

.location-wrap {
	display: none;
	padding: 80px 0;
	background-color: $bg-grey;
	h5 {
		text-align: center;
		padding-bottom: 70px;
	}
	span {
		border: 1px solid $blue;
		padding: 5px 10px;
	}
}


ul.location-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: auto;
	margin: auto 5%;
	li {
		color: $blue;
		text-align: left;
		list-style-type: none;
		padding: 10px 5px;
		margin-left: 30%;
		p {
			display: inline-block;
			&:before {
				content: '▼';
				color: red;
				font-size: .75em;
				padding-right: 10px;
			}
		}
	}
	@include breakFirst(sm) {
		max-height: 1000px;
		li {
			margin-left: initial;
		}
	}
	@include breakFirst(md) {
		max-height: 500px;
	}
}
