/* CATEGORY PAGE */
/******************/

.cat-title-container {
	padding-top: 50px;
	.cat-title-content {
		padding-top: 10%;
		width: 100%;
		text-align: center;
		@include breakFirst(md) {
			padding-top: 20vh;
		}
		h1 {
			font-family: $font1;
			@include breakFirst(md) {
				font-size: 8em;
			}
		}
		p {
			margin: 20px 0 40px;
		}
		.svg-container {
			margin: 0 auto;
			
			svg {
				text {
					// transform: translate(0, 134px);
					font-weight: 900;
					font-family: $font1;
					fill-opacity: 0;
					fill: #fff;
					stroke: #fff;
					stroke-width: .5;
					stroke-dasharray: 870;
					stroke-dashoffset: 870;
				}
			}

			&#our-expertise {
				width: 305px;
				@include breakFirst(sm) {
					width: 575px;
				}
				@include breakFirst(md) {
					width: 720px;
				}
				@include breakFirst(xxl) {
					width: 1500px;
				}
				svg {
					font-size: 42px;
					height: 220px;
					@include breakFirst(sm) {
						font-size: 80px;
					}
					@include breakFirst(md) {
						font-size: 100px;
					}
					@include breakFirst(xxl) {
						font-size: 150px;
						width: 1300px;
						margin-left: -200px;
						text {
							width: 1100px;
						}
					}
				}
			}
			&#about-us {
				width: 200px;
				@include breakFirst(sm) {
					width: 415px;
				}
				@include breakFirst(md) {
					width: 554px;
				}
				svg {
					font-size: 42px;
					height: 220px;
					@include breakFirst(sm) {
						font-size: 90px;
					}
					@include breakFirst(md) {
						font-size: 120px;
					}
				}
			}
		}
		
		.btn-wrap {
			text-align: center;
			margin: 50px 0;
			@include breakFirst(sm) {
				margin: 50px 10px;
				display: inline-block;
			}
			.link-button {
				min-width: 250px;
				display: inline-block;
				@include breakFirst(sm) {
					min-width: initial;
				}
			}
		}
		.category-quote {
			width: 100%;
			p {
				text-align: left;
		    	font-style: italic;
		    	color: white;
		    	&:first-of-type {
		    		margin-bottom: 0;
		    	}
		    	&:last-of-type {
		    		margin-top: 0;
		    	}
			}

			@include breakFirst(sm) {
				transform: translateY(115%);
				margin-left: 5%;
				width: 30%;
			}
		}
	}
}
