/* WordPress Headings
-------------------------------------------------------------- */
h1{
    font-size: 2em;
    line-height: 115%;
    font-weight: 700;
    @include breakFirst(sm) {
      font-size: 7em; 
    }
  }
h2{
    font-size: 2em;
    line-height: 115%;
    font-family: $font2;
    @include breakFirst(sm) {
      font-size: 3em;
    }
}
h3{
    font-size: 2.5em;
    line-height: 115%;
}
h4{
    font-size: 2em;
    line-height: 150%;
}
h5{
    font-size: 1.65em;
    line-height: 150%;
}
h6{
    font-size: 1.3em;
    line-height: 150%;
}


/* WordPress Text Weight & Style
-------------------------------------------------------------- */
strong, b{
    font-weight: 700;
}
dfn, cite, em, i{
    font-style: italic;
}
del{
    text-decoration: line-through;
}


/* WordPress Blockquotes
-------------------------------------------------------------- */
blockquote {
    font-size: 2em;
    font-style: italic;
    line-height: 150%;
    margin: 0 0 35px -21px;
    padding-left: 17px;
}

blockquote > blockquote {
    margin-left: 0;
}

blockquote p {
    width: 80%;
    margin: 0 auto;
    color: $red !important;

}

blockquote > p:first-child:before, blockquote > p:last-child:after {
  content: '"';
}

blockquote > p:last-child {
    margin-bottom: 0;
}

blockquote cite,
blockquote small {
    color: #333;
    font-size: .8em;
    line-height: 150%;
}

blockquote em,
blockquote i,
blockquote cite {
    font-style: normal;
}

blockquote strong,
blockquote b {
    font-weight: 400;
}

/* WordPress Lists
-------------------------------------------------------------- */
ul,
ol {
    margin: 0 0 28px 0;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin: 0 0 0 23px;
}

dl {
    margin: 0 0 28px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 28px;
}


/* WordPress Alignment
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}


/* WordPress Captions
-------------------------------------------------------------- */
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/* WordPress Screen Reader
-------------------------------------------------------------- */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}