/* FOOTER */
/**********/
footer {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	width: 100%;
	min-height: 80px;
	background-color: $dark-blue;
	@include breakFirst(md) {
		justify-content: center;
		align-items: center;
	}
	&.home {
		background-color: transparent;
		bottom: 0;
		@include breakFirst(lg) {
			position: absolute;
			opacity: 0;
			@include breakHeight() {
				top: 620px;
			}
		}
	}
	&.about-us, &.our-expertise {
		background-color: transparent;
		@include breakFirst(sm) {
			margin-top: 150px;
		}
	}
	div, img, a {
		margin: 10px 10px;
		text-align: center;
	}
	img {
		max-height: 30px;
		width: auto;
	}
	.submit {
		line-height: 4;
		font-size: .6em;
	}
}

.search-footer {
	a {
		text-decoration: underline;
		color: white;
		font-size: .6em;
		vertical-align: middle;

	}
	.footer-search-svg {
		color: white;
		fill: white;
		stroke: white;
		height: 10px;
		width: 10px;
		margin: 0;
	}
}