.col-1 {width: 8.333%;}
.col-2 {width: 16.666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333%;}
.col-5 {width: 41.666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333%;}
.col-8 {width: 66.666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.333%;}
.col-11 {width: 91.666%;}
.col-12 {width: 100%;}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	display: inline-block;
	font-size: 14px;
}

.xs {
	@include breakLast(xs){
		display: block !important;
		width: auto !important;
	}
}
.sm {
	@include breakLast(sm){
		display: block !important;
		width: auto !important;
	}
}
.md {
	@include breakLast(md){
		display: block !important;
		width: auto !important;
	}
}