/* HOME PAGE */
/*************/

.video-still {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: no-repeat center center fixed;
	background-size: cover;
	overflow: hidden;
	z-index: -5;
}

video#bgvid { 
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -4;
    background: no-repeat center center fixed;
    background-size: cover;
    @include breakFirst(lg) {
    	display: initial;
    }
}

.home-video-filter {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -3;
	background: rgba( $blue, .7);
	@include breakFirst(lg) {
		background: rgba(0, 0, 0, 0.35);
	}
}

.home-overlay {
	@include breakFirst(lg) {
		display: inline;
		position: absolute;
		text-align: center;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		opacity: 0;
		overflow: hidden;
		min-height: 800px;
	}
	
	.svg-container {
		display: none;
		@include breakFirst(lg) {
			height: 100vh;
			width: 100vw;
			display: inline;
			float: right;
			min-height: 800px;
		}

		svg#ds {

			#cutouttext {		
				rect {
					fill: white;
					width: 100%;
			 		height: 100%;

				}
				text {
					font-family: $font1;
					// font-size: 450px;
					font-weight: 900;
					fill: black;
					// @include heightBreak(){
						font-size: 575px;
					// }
				}
			}

			rect {
				fill: $light-blue;
				opacity: 1;
				height: 100%;
				width: 100%;
			}
		}
	}
	.text-container {
		display: flex;
		flex-direction: column;
		width: 80%;
		max-width: 400px;
		margin: 110px auto 0;
		text-align: center;
		@include breakFirst(lg) {
			width: 60vw;
			max-width: none;
			position: absolute;
			right: 100px;
			text-align: right;
			display: inline;
			
		}
		.headline-text-container {
			margin: 20px 0;
			h1 {
				font-size: 2em;
				font-weight: 400;
				border: none;
				overflow: hidden;
				span {
					color: white !important;
					font-family: $font2;
				}
				@include breakFirst(lg) {
					font-size: 3em;
				}
			}
		}
		.overlay-tag {
			padding: 10px;
			width: 200px;
			margin: 0 auto;
			span {
				color: white !important;
			}
		}
		p {
			margin-bottom: 20px;
			color: white;
			@include breakFirst(lg) {
				width: 50%;
				margin-left: 50%;
			}
			span {
				color: white !important;
			}
		}
		.button-home {
			width: 200px;
			margin: 0 auto;
			margin-top: 20px;
			color: white;
			&:hover {
				background-color: white;
				color: $dark-blue;
			}
		}
	}
}

.quote-block {
	text-align: center;
	font-style: italic;
	display: block;
	margin-top: 30px;
	padding: 5% 4%;
	span {
		color: white !important;
	}
	@include breakFirst(lg) {
		position: absolute;
		top: 460px;
		text-align: left;
		width: 400px;
	}
}

.fade-home {
	opacity: 0;
}
