/* HOME PAGE */
/*************/

.video-still {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	background: no-repeat center center fixed;
	background-size: cover;
	z-index: -5;
	@include breakFirst(lg) {
		display: none;
	}
}

video#bgvid { 
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -4;
    background: no-repeat center center fixed;
    background-size: cover;
    @include breakFirst(lg) {
    	display: initial;
    }
}

.home-video-filter {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -3;
	background: rgba(0, 0, 0, 0.35);
}

.home-overlay {
	@include breakFirst(lg) {
		display: inline;
		position: fixed;
		text-align: center;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		opacity: 0;
	}
	
	.svg-container {
		display: none;
		@include breakFirst(lg) {
			height: 100vh;
			width: 100vw;
			display: inline;
			float: right;
		}

		svg#ds {

			#cutouttext {		
				rect {
					fill: white;
				}
				text {
					x: 50px;
					y: 650px;
					transform: translate(10px, 530px);
					font-family: $font1;
					font-size: 500px;
					font-weight: 900;
					fill: black;
					@media (min-width: 1350px) {
						transform: translate(50px, 650px);
						font-size: 700px;
					}
				}
			}

			rect {
				fill: $light-blue;
				opacity: 1;
				
			}
			@keyframes fade {
				to {
					stroke-dashoffset: 0;
					fill: black;
				}
			}
		}


	}
	.text-container {
		padding: 150px 4% 0 4%;
		display: block;
		text-align: center;
		@include breakFirst(lg) {
			padding-top: 140px;
			width: 50vw;
			position: absolute;
			right: 100px;
			float: right;
			text-align: right;
			display: inline;
			
		}
		.headline-text-container {
			margin: 20px 0;
			h1 {
				font-size: 2em;
				font-weight: 400;
				border: none;
				overflow: hidden;
				span {
					color: white !important;
					font-family: $font2;
				}
				@include breakFirst(lg) {
					font-size: 3em;
				}
			}
		}
		.overlay-tag {
			border: 1px solid white;
			padding: 10px;
			span {
				color: white !important;
			}
		}
		p {
			margin-bottom: 20px;
			color: white;
			@include breakFirst(lg) {
				width: 50%;
				margin-left: 50%;
			}
			span {
				color: white !important;
			}
		}
		a {
			margin-top: 20px;
			color: white;
		}
		.button-home {
			&:hover {
				background-color: white;
				color: $dark-blue;
			}
		}
	}
}

.quote-block {
	text-align: center;
	font-style: italic;
	display: block;
	margin-top: 30px;
	padding: 5% 4%;
	span {
		color: white !important;
	}
	@include breakFirst(lg) {
		position: fixed;
		top: 600px;
		left: 50px;
		text-align: left;
		margin: 0 100px;
		display: inline;
		width: 400px;
	}
}

.fade-home {
	opacity: 0;
}
