/* 404 */
/*******/
.page-not-found {
	height: 100%;
	min-height: 80vh;
	margin-top: 100px;
	.body {
		padding-top: 90px;
		width: 80%;
		margin: 0 auto;
		h4, h5 {	
			color: black;
			margin-bottom: 20px;
		}
	}
}


