/* NAVIGATION */
/***************/

.nav-container {
	color: white;
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	background-color: $dark-blue;
	z-index: 3;
	&.transparent {
		background-color: transparent;
	}
	a {
		.ds-logo-svg {
			position: absolute;
			left: 15px;
			top: 25px;
			width: 50px;
			height: 50px;
		}
		.ds-words-svg {
			visibility: hidden;
			height: 30px;
			width: 280px;
			position: absolute;
			left: 70px;
			top: 32px;
			@include breakFirst(sm) {
				visibility: visible;
			}
		}
	}
	.nav-button {

		width: 25px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 25px;
		right: 35px;
		p {
			text-align: center;
			font-size: .5em;
			@include transition(100ms, linear)
		}
	}

	.nav-button .nav-icon:after,
	.nav-button .nav-icon:before,
	.nav-button .nav-icon div {
		background-color: white;
		-o-border-radius: 0px;
		-moz-border-radius: 0px;
		-ms-border-radius: 0px;
		-webkit-border-radius: 0px;
		border-radius: 0px;
		content: '';
		display: block;
		height: 3px;
		margin: 9px 0;
		@include transition(100ms, linear)
	}
	.nav-button:hover {
		.nav-icon:before {
			transform: translateY(5px) translateX(-5px) rotate(-60deg);

		}

		.nav-icon:after {
			transform: translateY(-19px) translateX(7px) rotate(60deg);

		}
		.nav-icon div {
			transform: translateY(3px) translateX(1px);
		}
	}
}
@include breakLast(sm) {
.headroom {
	    will-change: transform;
	    transition: transform 500ms ease-in-out;
	}
	.headroom--pinned {
	    transform: translateY(0%);
	}
	.headroom--unpinned {
	    transform: translateY(-100%);
	}
}

.nav-slider {
	background-color: $dark-blue;
	height: 100vh;
	width: 100vw;
	z-index: 999;
	position: fixed;
	top: 0;
	right: -100vw;
	overflow-x: hidden;
    transition: 0.7s;
		.button-close {
			position: absolute;
			top: 20px;
			right: 20px;
		}
    .nav-slider-container {
    	width: 85%;
    	margin: 120px auto 40px auto;
    	@include breakFirst(sm) {
    		width: 70%;
    	}

		p {
			font-size: .9em;
		}
		div {
			position: relative;
		}
		.menu-navigation-container {
			margin-left: 5%;
			padding-left: 5%;
			@include breakFirst(sm) {
				width: 60%;
				display: inline-block;
			}
			ul {
				list-style: none;
			}
			li {
				font-size: 2em;
				padding-left: 1em;
				text-indent: -1em;


				@include breakFirst(md) {
					font-size: 2em;
				}

				@include breakFirst(lg) {
					font-size: 3em;
				}

				a:link, a:visited, a:hover, a:active {
					font-family: $font2;
					margin-left: 10px;
					font-weight: 400;
					text-decoration: none;
					color: white;
					
					&:hover {
						color: $red;
					}
				}
				&:before {
					content: "/";
					font-weight: 100;
					padding-right: 5px;
					color: $dark-blue;
				}
			}
			li.current-menu-item {
				&:before {
					color: white;
				}
			}
		}
		.contact {
			margin-top: 40px;
			@include breakFirst(sm) {
				display: inline-block;
				float: left;
				width: 30%;
				margin-top: 0;
			}
			div {
				margin-bottom: 20px;
			}
			.address {
				p {
					color: white;
				}
				a {
					text-decoration: underline;
				}
			}
			.inquire {
				p {
					color: white;
				}
			}
			.candidate {
				h5 {
					color: white;
					font-weight: 400;
				}
				p {
					color: white;
				}
				a {
					text-decoration: underline;
				}
			}
		}
		.social {
			display: block;
			svg {
				padding: 0 5px;
				fill: $red;
				height: 25px;
				width: 25px;
				&:hover {
					fill: white;
					transition: all 500ms ease;
				}
			}
		}
    }
	.menu-trademark {
		text-align: center;
		margin-bottom: 20px;
		span {
			color: white;
		}
		a {
			text-decoration: underline;
		}
	}
	&.open {
		right: 0;
	}
}