.offices-container {
	margin-bottom: 100px;
	padding: 10px;
	padding-top: 100px;
	text-align: center;
	background-color: $bg-grey;
	overflow: hidden;
	@include breakFirst(sm) {
		text-align: initial;
		padding: 30px;
	}
	color: black;
	.offices-inner-wrap {
		margin: 0 auto;
		max-width: 400px;
		text-align: center;
		@include breakFirst(sm) {
			width: 610px;
			max-width: 610px;
		}
		@include breakFirst(md) {
			width: 910px;
			max-width: 910px;
			text-align: left;
			padding-left: 70px;
		}
		@include breakFirst(xl) {
			width: 1220px;
			max-width: 1220px;
			padding-left: initial;
		}
	}
}

.office-wrap {
	color: black;
	display: inline-block;
	.office {
		text-align: left;
		position: relative;
		height: 300px;
		max-width: 300px;
		@include breakFirst(sm) {
			height: 354px;
			max-width: 400px;
		}
		.office-thumb {
			img {
				@include imgRec(300px, 225px)
				@include breakFirst(sm) {
					@include imgRec(400px, 300px)
				}
			}
			.office-hover {
				width: 100%;
				position: relative;
				bottom: 0;
				left: 0;
				text-align: center;
				background-color: $blue;
				opacity: 1;
				color: white;
				letter-spacing: 2px;
				padding: 15px 0;
				@include buttonTransition()
				.name {
					color: white;
					font-weight: 400;
					font-size: 1.1em;
				}
				.city {
					color: white;
					font-weight: 100;
				}
			}
			&:hover {
				.office-hover {
					background-color: $dark-blue;
				}
			}
		}
		.office-card {
			background: white;
			color: white;
			margin: 10px 10px;
			display: none;
			position: absolute;
			overflow: hidden;
			left: -10px;
			width: 100%;
			@include breakFirst(sm) {
				width: 615px;
				left: -110px;
			}
			@include breakFirst(md) {
				width: 800px;
				padding: 0 50px;
			}
			@include breakFirst(xl) {
				width: 1204px;
				padding: 0;
			}

			.card-content {
				width: 90%;
				margin: 0 5%;
				text-align: center;

				display: flex;
				flex-wrap: wrap;
				flex: 0 0 50%;
				justify-content: flex-start;

				//flex

				//end flex

				h3 {
				color: $red;
				font-size: 1.5em;
				text-align: left;
				margin: 10px 0;
				}
				p, span {
					color: black;
				}
				a.button-office-close {
					position: absolute;
					top: 0;
					right: 0;
					@include breakFirst(md) {
						top: 28px;
						right: 10px;
					}
					svg {
						color: black;
					}
					&:hover {
						svg {
							color: $red;
						}
					}
				}
				.office-main {
					margin: 0 20px;
					@include breakFirst(lg) {
						display: inline-block;
						width: 55%;
					}
					.office-intro {
						margin-top: 30px;
						margin-bottom: 30px;
						@include breakFirst(md) {
							//margin-top: 100px;
						}

						.office-name {
							text-align: left;
							width: 200px;
							padding: 10px 0 30px;
							@include breakFirst(md) {
								width: 400px;
							}
							h2, p {
								color: $blue;
							}
						}
						.break {
							display: block;
							border: 1px solid $blue;
							@include breakFirst(md) {
								width: 200px;
							}
						}
					}

					.office-desc {
						p {
							text-align: left;
							color: black;
							padding-bottom: 1em;
						}
					}
				}

				.office-sidebar {
					text-align: left;
					margin: 0 20px;
					@include breakFirst(lg) {
						width: 25%;
						display: inline-block;
					}
					@include breakFirst(lg) {
						margin-top: 65px;
						padding-left: 60px;
					}
					h3 {
						margin: 25px 0;
						font-weight: 600;
					}
					span {
						display: block;
					}
					.linkedin-svg {
						height: 25px;
						width: 25px;
						fill: $blue;
					}
					.vcf-svg {
						margin-left: 10px;
						margin-bottom: -2px;
						margin-top: 5px;
						height: 30px;
						width: 30px;
						fill: $blue;	
					}
				}
				.director-container {
					display: flex;
					flex-wrap: wrap;
					flex: 2 0 50%;
					justify-content: flex-start;
					h3 {
						width: 100%;
						text-align: center;
						margin-bottom: 30px;
						@include breakFirst(lg) {
							text-align: left;
							padding-left: 20px;
						}
					}
					.director {
						text-align: center;
						margin: 0 0 30px;
						flex: 0 0 135px;
						@include breakFirst(lg) {
							flex: 0 0 150px;
							margin: 0 30px 50px;
						}
						img {
							width: 80px;
						}
						p {
							padding: 0;
							text-align: center;
							font-weight: 400;
						}
					}
				}
			}	
		} 
	}
	@include breakFirst(md) {
		// 2 per row
		&:nth-child(odd) {
			.office .office-card {
				left: -44px;
			}
		}
		&:nth-child(even) {
			//opacity: 0;
			.office .office-card {
				left: -455px;
			}
		}
	}
	@include breakFirst(xl) {
		// 3 per row
		&:nth-child(3n+1) {
			.office .office-card {
				left: -10px;
			}
		}
		&:nth-child(3n+2) {
			.office .office-card {
				left: -412px;
			}
		}
		&:nth-child(3n+3) {
			.office .office-card {
				left: -816px;
			}
		}
	}
}

// offices-single

.office-card-single {
	background: white;
	color: white;
	margin: 0 auto;
	
	
	overflow: hidden;
	left: -10px;
	width: 100%;
	@include breakFirst(sm) {
		width: 80vw;
		left: -110px;
	}
	@include breakFirst(lg) {
		width: 800px;
		padding: 0 50px;
	}
	@include breakFirst(xl) {
		width: 1200px;
		padding: 0;
	}

	.card-content {
		width: 90%;
		margin: 0 5%;
		text-align: center;

		display: flex;
		flex-wrap: wrap;
		flex: 0 0 50%;
		justify-content: flex-start;

		h3 {
		color: $red;
		font-size: 1.5em;
		text-align: left;
		margin: 10px 0;
		}
		p, span {
			color: black;
		}
		a.button-office-close {
			position: absolute;
			top: 0;
			right: 0;
			@include breakFirst(md) {
				top: 28px;
				right: 10px;
			}
			svg {
				color: black;
			}
		}
		.office-main {
			margin: 0 20px;
			@include breakFirst(md) {
				display: inline-block;
				width: 55%;
			}
			.office-intro {
				margin-top: 30px;
				margin-bottom: 30px;
				@include breakFirst(md) {
					//margin-top: 100px;
				}

				.office-name {
					text-align: left;
					width: 200px;
					margin-left: 0;
					
					@include breakFirst(md) {
						width: 400px;
					}
					h2, p {
						color: $blue;
					}
				}
				.break {
					display: block;
					border: 1px solid $blue;
					@include breakFirst(md) {
						width: 200px;
					}
				}
			}

			.office-desc {
				p {
					text-align: left;
					color: black;
					padding-bottom: 1em;
				}
			}
		}

		.office-sidebar {
			text-align: left;
			margin: 0 20px;
			@include breakFirst(lg) {
				width: 25%;
				display: inline-block;
			}
			@include breakFirst(lg) {
				margin-top: 65px;
				padding-left: 60px;
			}
			h3 {
				margin: 25px 0;
				font-weight: 600;
			}
			span {
				display: block;
			}
			.linkedin-svg {
				height: 25px;
				width: 25px;
				fill: $blue;
			}
			.vcf-svg {
				margin-left: 10px;
				margin-bottom: -2px;
				margin-top: 5px;
				height: 30px;
				width: 30px;
				fill: $blue;	
			}
		}
		.director-container {
			display: flex;
			flex-wrap: wrap;
			flex: 2 0 50%;
			justify-content: flex-start;
			h3 {
				width: 100%;
				text-align: center;
				margin-bottom: 30px;
				@include breakFirst(lg) {
					text-align: left;
				}
			}
			.director {
				text-align: center;
				margin: 0 0 30px;
				flex: 0 0 135px;
				@include breakFirst(lg) {
					flex: 0 0 150px;
					margin: 0 30px 50px;
				}
				img {
					width: 80px;
				}
				p {
					padding: 0;
					text-align: center;
					font-weight: 400;
				}
			}
		}
	}	
} 
