.our-story {

	div, figure {
		margin: 25px 0;
		padding: 0 5%;
		p {
			text-align: left;
			margin: 10px 0;
			font-weight: 100;
		}
		img {
			margin: 10px auto;
			max-width: 80vw;
			height: auto;
			@include breakFirst(md) {
				max-width: 100%;
				height: auto;
			}
		}
	}
	figcaption {
		font-size: .6em;
		font-weight: 600;
		font-family: $font1;
		color: black;
		font-style: normal;
		text-align: right;

	}

	.section-1 {
		padding-top: 50px;
		padding-bottom: 40px;
		margin-top: 0;
		background-color: white;
		text-align: center;
		.header {
			text-align: left;
			font-size: 2em;
		}
		.body {
			text-align: left;
			padding-top: 50px;
			font-weight: 100;
		}
		figure {
			margin: 20px auto -150px;
			max-width: 632px;
		}

		@include breakFirst(md) {
			display: flex;
			.section-1-text {
				flex: 0 0 40%;
				padding-left: 0;
				.header {
				}
				.body {
					padding-top: initial;
				}
			}
			.section-1-img {
				flex: 0 0 40%;
				img {
					max-width: 500px;
					min-width: 400px;
				}
			}
		}
	}
	.section-2 {
		padding: 0 5% 50px 5%;
		margin: 180px 0 70px;
		text-align: center;
		.left, .right {
			margin: initial;
			padding: initial;
			p {
				width: 100%;
			}
			figure {
				max-width: 282px;
				margin: 0 auto;
			}
		}

		@include breakFirst(md) {
			display: inline-block;
			padding: initial;
			.left, .right {
				display: inline-block;
				width: 40%;
				margin: auto;
			}
			.left {
				margin-left: -95px;
				margin-top: -150px;
			}
			.right {
				margin-top: -100px;
				margin-left: 90px;
				figure {
					float: right;
					margin-right: -50px;
					padding-left: 20px;
				}
			}
			
		}
	}
	.section-quote {

		.img-before {
			max-width: 559px;
			img {
				margin: -100px auto 0;
			}
			figcaption {
				padding-top: 10px;
				color: white;
				font-weight: normal;
			}
		}

		.img-after {
			max-width: 300px;
			margin: 0 auto;
			padding: 0;
			img {
				margin: -10px 0 -125px;
				width: 100%;
			}
			figcaption {
				position: relative;
				bottom: -130px;	
			}
		}
		@include breakFirst(md){
			.img-before {
				width: 450px;
				margin: -200px 0 0 -60px;
				padding: 30px;
				float: left;
			}
			.img-after {
				margin-top: -110px;
				float: right;
				left: auto;
			}
		}
	}
	.section-4 {
		margin-top: 325px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		max-width: 1500px;
		
		p:first-of-type {
			margin-top: -165px;
		}

		@include breakFirst(md) {
			
			padding-bottom: 40px;
			p:first-of-type {
				margin-top: 50px;
			}
			.section-4-body {
				display: inline-block;
				width: 30%;
				float: right;
			}
			figure {
				margin-left: -215px;
				margin-top: -150px;
				max-width: 794px;
			}
			figcaption {
				margin: 0;
				text-align: right;
			}
		}
	}
}