.people-container {
	padding: 50px 10px;
	margin: 0 auto;
	background-color: $bg-grey;
	overflow: hidden;
	color: black;
	min-height: 70vh;
	@include breakFirst(sm) {
		padding: 50px 30px;
	}
	.people-inner-wrap {
		margin: 0 auto;
		max-width: 400px;
		text-align: center;
		@include breakFirst(sm) {
			width: 600px;
			max-width: 600px;
			text-align: initial;
		}
		@include breakFirst(md) {
			width: 900px;
			max-width: 900px;
		}
		@include breakFirst(xl) {
			width: 1200px;
			max-width: 1200px;
		}
	}
}

.leadership-quote {
	.default {
		display: none;
	}
	p {
		padding: 50px 5% 0;
	}
}

.leader-quote {
	display: none;
}

h2 {
	display: block;
	width: 100%;
	padding: 20px 0;
} 

.person {
	display: inline-block;
	@include breakFirst(sm) {
		margin: 0 -2px;
	}
	.person-thumb {
		cursor: pointer;

		img {
			@include imgSquare(300px)
		}
		.person-hover {
			width: 300px;
			max-width: 300px;
			text-align: center;
			background-color: $blue;
			opacity: 1;
			color: white;
			letter-spacing: 2px;
			height: 67px;
			display: table-cell;
			vertical-align: middle;
			@include buttonTransition()
			.name {
				font-weight: 400;
			}
			.title {
				font-weight: 100;
				font-size: .7em;
			}
		}
		&:hover {
			.person-hover {
				background-color: $dark-blue;
			}
		}
	}
	.person-card {
		background: white;
		color: white;
		display: none;
		overflow: hidden;
		text-align: left;
		width: 90%;
		padding-bottom: 40px;
		position: absolute;
		left: -4px;
		right: 0;
		margin: auto;
		@include breakFirst(sm) {
			width: 600px;
			
		}
		@include breakFirst(md) {
			width: 900px;
		}
		@include breakFirst(xl) {
			width: 1200px;
		}

		h3 {
			color: $red;
			font-size: 1.2em;
		}
		p, span {
			color: black;
		}
		a.button-person-close {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 2em;
			@include breakFirst(md) {
				top: 28px;
				right: 10px;
			}
			svg {
				color: black;
			}
			&:hover {
				svg {
					color: $red;
				}
			}
		}
		.person-main {
			padding: 0 20px;
			@include breakFirst(md) {
				display: inline-block;
				width: 55%;
			}
			.person-intro {
				margin-top: 30px;
				margin-bottom: 30px;
				@include breakFirst(md) {
					margin-top: 50px;
				}
				.img-round {
					width: 100px;
					float: left;
					@include breakFirst(md) {
						width: 200px;
					}
				}

				.person-name {
					margin-left: 100px;
					padding: 10px 10px 30px;
					width: 150px;
					@include breakFirst(sm) {
						width: auto;
						transform: translate(20px, 50%);
					}
					h4, p {
						color: $blue;
					}
				}
				.break {
					display: block;
					border: 1px solid $blue;
					@include breakFirst(md) {
						margin-top: 100px;
						width: 200px;
					}
				}
			}

			.person-bio {
				p {
					color: black;
					padding-bottom: 1em;
				}
			}
		}

		.person-sidebar {
			text-align: left;
			margin: 0 20px;
			@include breakFirst(md) {
				width: 25%;
				display: inline-block;
			}
			@include breakFirst(md) {
				margin-top: 65px;
				padding-left: 60px;
			}
			h3 {
				margin: 25px 0;
			}
			span {
				display: block;
			}
			.linkedin-svg {
				margin-top: 10px;
				height: 25px;
				width: 25px;
				fill: $blue;
			}
			.vcf-svg {
				margin-left: 10px;
				margin-bottom: -2px;
				margin-top: 5px;
				height: 30px;
				width: 30px;
				fill: $blue;	
			}
			.practice-area {
				display: block;
				text-decoration: underline;
			}
		}
		&.single {
			display: initial;
		}	
	}
}

//person-single

.person-card-single{
	background: white;
	color: white;
	text-align: left;
	width: 90%;
	padding-bottom: 40px;
	left: -4px;
	right: 0;
	margin: auto;

	h3 {
		color: $red;
		font-size: 1.2em;
	}
	p, span {
		color: black;
	}
	a.button-person-close {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 2em;
		@include breakFirst(md) {
			top: 28px;
			right: 10px;
		}
		svg {
			color: black;
		}
	}
	.person-main {
		padding: 0 20px;
		@include breakFirst(md) {
			display: inline-block;
			width: 55%;
		}
		.person-intro {
			margin-top: 30px;
			margin-bottom: 30px;
			@include breakFirst(md) {
				margin-top: 50px;
			}
			.img-round {
				width: 100px;
				float: left;
				@include breakFirst(md) {
					width: 200px;
				}
			}
			.img-square {
				width: 100px;
				float: left;
				@include breakFirst(md) {
					width: 200px;
				}
			}

			.person-name {
				// margin-left: 100px;
				// padding: 10px 10px 30px;
				width: 150px;
				@include breakFirst(sm) {
					width: auto;
					transform: translate(20px, 50%);
				}
				h4, p {
					color: $blue;
				}
			}
			.break {
				display: block;
				border: 1px solid $blue;
				@include breakFirst(md) {
					margin-top: 130px;
					width: 200px;
				}
			}
		}

		.person-bio {
			p {
				color: black;
				padding-bottom: 1em;
			}
		}
	}

	.person-sidebar {
		text-align: left;
		margin: 0 20px;
		@include breakFirst(md) {
			width: 25%;
			display: inline-block;
		}
		@include breakFirst(md) {
			margin-top: 100px !important;
			padding-left: 60px;
		}
		h3 {
			margin: 25px 0;
		}
		span {
			display: block;
		}
		.linkedin-svg {
			margin-top: 10px;
			height: 25px;
			width: 25px;
			fill: $blue;
		}
		.vcf-svg {
			margin-left: 10px;
			margin-bottom: -2px;
			margin-top: 5px;
			height: 30px;
			width: 30px;
			fill: $blue;	
		}
		.practice-area {
			display: block;
			text-decoration: underline;
		}
	}	
}
