.items-container {
	padding: 10px;
	text-align: center;
	background-color: $bg-grey;
	overflow: hidden;
	margin: 0 auto;
	@include breakFirst(sm) {
		text-align: initial;
		padding: 30px;
	}
	@include breakFirst(md) {

	}
	color: black;
	.items-inner-wrap {
		text-align: center;
		margin: 0 auto;
		max-width: 400px;
		@include breakFirst(sm) {
			width: 610px;
			max-width: 610px;
		}
		@include breakFirst(md) {
			width: 910px;
			max-width: 910px;
			text-align: left;
			padding-left: 70px;
		}
		@include breakFirst(xl) {
			width: 1220px;
			max-width: 1220px;
			padding-left: initial;
		}
	}
}

.item-wrap {
	color: black;
	display: inline-block;
	margin-bottom: 2px;
	.item {
		text-align: left;
		position: relative;
		height: 350px;
		max-width: 300px;
		@include breakFirst(sm) {
			max-width: 400px;
		}
		.item-thumb {
			img {
				@include thumbSize()
			}
			.item-hover {
				width: 100%;
				max-width: 400px;
				text-align: center;
				background-color: $blue;
				opacity: 1;
				letter-spacing: 2px;
				padding: 15px 0;
				@include buttonTransition()
				.name {
					color: white;
					font-weight: 400;
					font-size: .9em;
				}
				.city {
					color: white;
					font-weight: 100;
				}
			}
			&:hover {
				.item-hover {
					background-color: $dark-blue;
				}
			}
		}
		.item-card {
			background: white;
			color: white;
			margin: 10px 10px;
			display: none;
			position: absolute;
			overflow: hidden;
			left: -10px;
			width: 100%;
			@include breakFirst(sm) {
				width: 615px;
				left: -110px;
			}
			@include breakFirst(md) {
				width: 800px;
				padding: 0 50px;
			}
			@include breakFirst(xl) {
				width: 1204px;
				padding: 0;
			}
			
			// card styling
			.card-content {
				width: 90%;
				margin: 50px 5%;
				text-align: center;

				.flex-top {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 10px;
					.item-title {
						flex: 0 0 100%;
						margin-right: 20px;
						p {
							padding-bottom: 1em;
						}
						@include breakFirst(md) {
							flex: 1 0 60%;
						}
					}
					.item-sector, .item-function {
						flex: 1 0 15%;
						@include breakFirst(md) {
							margin-top: 115px;
						}
					}
				}

				.item-resume {
					text-align: left;
					margin: 30px 0 15px;
					img {
						height: 20px;
					}
					svg {
						margin-top: -15px;
					}
					.cv-svg {
						height: 30px;
						width: 30px;
					}
					.resume-arrow-svg {
						height: 30px;
						width: 200px;
					}
					.resume-arrow {
						height: 28px;
						margin-left: 10px;
						margin-top: -13px;
					}
				}

				h2, h3, h4, p {
					text-align: left;
				}
				h2 {
					font-size: 1.4em;
				}
				h3 {
					color: $red;
					font-size: 1.2em;
				}
				p {
					font-weight: 100;
				}
				.item-leader-container {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					@include breakFirst(lg) {
						justify-content: flex-start;
					}
				}
				.item-leader {
					flex: 0 0 280px;
					a:hover {
						.leader-name > h4, p {
							color: $red;
						}
					}
					img {
						width: 200px;
						text-align: center;
						padding: 30px 0;
						@include breakFirst(xs) {
							flex: 0 0 350px;
							margin-left: -60px;
						}
					}
					.leader-name {
						padding-bottom: 30px;
						h4, p {
							@include buttonTransition()
							color: black;
							font-size: 1.2em; 
						}
					}
					.linkedin-container {
						width: 100%;
						text-align: left;
					}
				} 
				.item-director {
					h3 {
						padding: 30px 0;
					}
				}
				.director-container {
					display: flex;
					flex-wrap: wrap;
					flex: 0 0 50%;
					justify-content: flex-start;
					.director {
						text-align: center;
						margin-bottom: 20px;
						flex: 0 0 135px;
						@include breakFirst(lg) {
							flex: 0 0 150px;
							margin: 0 30px 50px;
						}
						img {
							width: 80px;
						}
						p {
							padding: 0;
							text-align: center;
							font-weight: 400;
						}
					}
				}
				.break {
					margin: 20px 0;
					padding: 0;
				}
			}

		} 
	}
	@include breakFirst(md) {
		// 2 per row
		&:nth-child(odd) {
			.item .item-card {
				left: -44px;
			}
		}
		&:nth-child(even) {
			//opacity: 0;
			.item .item-card {
				left: -455px;
			}
		}
	}
	@include breakFirst(xl) {
		// 3 per row
		&:nth-child(3n+1) {
			.item .item-card {
				left: -10px;
			}
		}
		&:nth-child(3n+2) {
			.item .item-card {
				left: -412px;
			}
		}
		&:nth-child(3n+3) {
			.item .item-card {
				left: -816px;
			}
		}
	}
}

.vcf-svg {
	margin-left: 10px;
	margin-bottom: -2px;
	margin-top: 5px;
	height: 30px;
	width: 30px;
	fill: $blue;	
}
.button-item-close {
	position: absolute;
	top: 0;
	right: 0;
	@include breakFirst(md) {
		top: 28px;
		right: 10px;
	}
	svg {
		color: black;
	}
	&:hover {
		svg {
			color: $red;
		}
	}
}

.svg-resume {
	@include imgSquare(50px)
	color: black;
}

// practices-single 
.item-card-single {
	background: white;
	color: white;
	margin: 30px auto;
	overflow: hidden;
	left: -10px;
	width: 100%;
	@include breakFirst(sm) {
		width: 80vw;
		left: -110px;
	}
	@include breakFirst(lg) {
		width: 800px;
		padding: 0 50px;
	}
	@include breakFirst(xl) {
		width: 1200px;
		padding: 0;
	}
	
	// card styling
	.card-content {
		width: 90%;
		margin: 50px 5%;
		text-align: center;

		.flex-top {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
			.item-title {
				flex: 0 0 100%;
				margin-right: 20px;
				p {
					padding-bottom: 1em;
				}
				@include breakFirst(md) {
					flex: 1 0 60%;
				}
			}
			.item-sector, .item-function {
				flex: 1 0 15%;
				@include breakFirst(md) {
					margin-top: 115px;
				}
			}
		}

		.item-resume {
			text-align: left;
			margin: 30px 0 15px;
			img {
				height: 20px;
			}
			svg {
				margin-top: -15px;
			}
			.cv-svg {
				height: 30px;
				width: 30px;
			}
			.resume-arrow-svg {
				height: 30px;
				width: 200px;
			}
		}

		h2, h3, h4, p {
			text-align: left;
		}
		h2 {
			font-size: 1.4em;
		}
		h3 {
			color: $red;
			font-size: 1.2em;
		}
		p {
			font-weight: 100;
		}
		.item-leader-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			@include breakFirst(lg) {
				justify-content: flex-start;
			}
		}
		.item-leader {
			flex: 0 0 280px;
			a:hover {
				.leader-name > h4, p {
					color: $red;
				}
			}
			img {
				width: 200px;
				text-align: center;
				padding: 30px 0;
				@include breakFirst(xs) {
					flex: 0 0 350px;
					margin-left: -60px;
				}
			}
			.leader-name {
				padding-bottom: 30px;
				h4, p {
					@include buttonTransition()
					color: black;
					font-size: 1.2em; 
				}
			}
			.linkedin-container {
				width: 100%;
				text-align: left;
			}
		} 
		.item-director {
			h3 {
				padding: 30px 0;
			}
		}
		.director-container {
			display: flex;
			flex-wrap: wrap;
			flex: 0 0 50%;
			justify-content: flex-start;
			.director {
				text-align: center;
				margin-bottom: 20px;
				flex: 0 0 135px;
				@include breakFirst(lg) {
					flex: 0 0 150px;
					margin: 0 30px 50px;
				}
				img {
					width: 80px;
				}
				p {
					padding: 0;
					text-align: center;
					font-weight: 400;
				}
			}
		}
		.break {
			margin: 20px 0;
			padding: 0;
		}
	}
} 