.global-reach {
	width: 100%;
	h1, h2, h3, h4, h5, h6 {
		font-family: $font1;
	}
	.center {
		text-align: center;
		margin: 20px auto;
		width: 70%;
		max-width: 800px;
		font-size: 1.2em;
	}
	.partner-img {
		width: 100%;
		text-align: center;
		margin: 100px auto;
		img {
			width: 80%;
			max-width: 400px;
		}
	}
	.partner-info {
		width: 90%;
		margin: 0 auto 40px;
		display: block;
		@include breakFirst(sm) {
			display: flex;
		}
		div {
			width: 90%;
			margin: 0 5%;
			h5 {
				font-size: 1.9em;
				margin-bottom: 20px;
				text-align: center;
				@include breakFirst(sm) {
					text-align: left;
				}
			}

			@include breakFirst(sm) {
				width: 45%;
			}
		}
		.info-left {
			p {
				font-size: 1.3em;
				letter-spacing: 1px;
			}
		}
	}
	.services-quote-block {
		position: relative;
		padding: 0 5%;
	}
	.partner-services {
		width: 100%;
		padding: 40px 0;
		display: block;
		@include breakFirst(sm) {
			display: flex;
			justify-content: center;
		}
		.partner-services-left {
			width: 90%;
			max-width: 350px;
			margin: 0 5%;
			text-align: center;
			@include breakFirst(sm) {
				width: 25%;	
			}
			h3 {
				display: inline-block;
				max-width: 250px;
				padding: 5px 15px;
				background-color: $blue;
				color: $bg-grey;
				font-weight: 400;
				font-size: 2em;
			}
			p {
				margin: 10px 0;
				color: $blue;
			}
			.service {
				margin: 40px 20px;
				span {
					font-weight: 400;
					font-size: 1.5em;
					color: $blue;
				}
				p {
					color: $blue;
				}
			}
		}
		.partner-services-right {
			width: 90%;
			margin: 0 5%;
			h4 {
				margin-bottom: 20px;
				color: black;
				text-align: center;
				@include breakFirst(sm) {
					text-align: left;
				}
			}
			p {
				padding-bottom: 1em;
			}
			@include breakFirst(sm) {
				width: 45%;
			}
		}
	}
	.partner-offices-header {
		text-align: center;
		background-color: $blue;
		height: 250px;
		.title-container {
			margin-top: 60px;
			position: absolute;
			width: 100%;
			h3 {
				color: white;
				text-align: center;
			}
		}
		img {
			position: relative;
			width: auto;
			height: 190px;
			max-width: 400px;
			max-height: 200px;
			opacity: .1;
		}
	}
	.partner-offices {
		width: 95%;
		margin: -20px auto 50px;
		@include breakFirst(sm) {
			width: 80%;
			margin: -60px auto 50px;
		}
		.sub-title {
			padding: 40px 0;
			width: 100%;
			text-align: center;
			font-size: 1.5em;
			color: gray;
		}
		img {
			width: 80%;
			height: auto;
			display: block;
			margin: 0 auto;
		}
		.int-location-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			background-color: white;
			margin-top: 30px;
			div {
				text-align: center;
				display: inline-block;
				width: 100%;
				@include breakFirst(sm) {
					flex: 0 0 30%;
				}
			}
			ul li {
				list-style: none;
				span {
					font-size: .9em;
				}
			}
		}
	}
}