.search-popup-wrap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	background-color: rgba( $blue, .7);
	z-index: 100;
	.button-close {
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.search-form {
		position: relative;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		form {
			position: relative;
			width: 80%;
			height: 100%;
			margin: 0 auto;

			input {
				height: 20px;
				font-size: 1em;
				padding: 15px;
				width: 85%;
				&:input-placeholder {
					font-size: .5em;
				}
			}
			.svg-search {
				position: absolute;
				right: -100px;
				top: 50%;
				display: block;
				height: 65px;
				transform: translateY(-50%);
				fill: $blue;
				width: 300px;
			}
		}
	}
	@include breakFirst(sm) {
		.search-form {
			form input {
				height: 60px;
				font-size: 2em;
				padding: 15px;
				width: 95%;
				
				&:input-placeholder {
					font-size: 2em;
				}
			}
			.svg-search {
				right: -120px;
				height: 90px;
			}
		}
	}
}