.search-results {
	padding: 100px 5%;
	width: 90%;
	min-height: 70vh;
	background-color: $bg-grey;
	
	ul {
		margin-top: 30px;
	}
	li {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: column;
		list-style: none;
		h2 {
			font-size: 1.7em;
			width: 90%;
			a{
			color: $red;
			}
		}
		.result-body-wrap {
			width: 90%;
		}
		@include breakFirst(sm) {
			flex-direction: row;
			h2 {
				font-size: 1.7em;
				width: 30%;
			}
			.result-body-wrap {
				width: 55%;
			}
		}
	}

	.search-form {
		position: relative;
		

		form {
			position: relative;
			width: 80%;
			height: 100%;
			

			input {
				height: 20px;
				font-size: 1em;
				padding: 15px;
				width: 85%;
				&:input-placeholder {
					font-size: .5em;
				}
			}
			.svg-search {
				position: absolute;
				right: -90px;
				top: 50%;
				display: block;
				height: 65px;
				transform: translateY(-50%);
				fill: $blue;
			}
		}
	}
	@include breakFirst(sm) {
		.search-form {
			form input {
				height: 40px;
				font-size: 2em;
				padding: 15px;
				width: 95%;
				
				&:input-placeholder {
					font-size: 2em;
				}
			}
			.svg-search {
				right: -120px;
				height: 90px;
			}
		}
	}
	// .search {
	// 	margin: 30px;
	// 	input#s {
	// 		width: 500px;
	// 		font-size: 1em;
	// 		letter-spacing: 1px;
	// 		font-weight: 100;
	// 	}
	// 	input {
	// 		outline: none;
	// 		border: 0px solid;
	// 		border-bottom: 1px solid $dark-blue;
	// 		-webkit-box-shadow: none;
	// 		box-shadow: none;
	// 		background-color: transparent;
	// 		color: $dark-blue;
	// 		font-size: 1.5em;
	// 		letter-spacing: 4px;
	// 		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	// 		  color: $dark-blue;
	// 		  text-align: center;
	// 		}
	// 		&::-moz-placeholder { /* Firefox 19+ */
	// 		  color: $dark-blue;
	// 		  text-align: center;
	// 		}
	// 		&:-ms-input-placeholder { /* IE 10+ */
	// 		  color: $dark-blue;
	// 		  text-align: center;
	// 		}
	// 		&:-moz-placeholder { /* Firefox 18- */
	// 		  color: $dark-blue;
	// 		  text-align: center;
	// 		}
	// 	}
	// }
	.break {
		width: 100%;
		border-color: white;
		margin: 20px 0;
	}
}
