.toolbar {
	background-color: $blue;
	width: 100%;
	min-height: 50px;
	@include breakFirst(md) {
		height: 50px;
	}
}
.search-toolbar-people {
	display: block;
	margin: 0 auto;
	position: relative;
	
	@include breakFirst(md) {
		display: inline-block;
		float: left;
		margin-left: 5%;
		top: 50%;
		transform: translateY(-50%);
	}
}


.search-wrap-people {
	width: 300px;
	margin: 0 auto;
	.search-people {
		form {
			float: left;
			margin-top: 10px;
			input {
				outline: none;
				border: 0px solid;
				-webkit-box-shadow: none;
				box-shadow: none;
				width: 200px;
	    		background-color: transparent;
	    		color: white;
	    		font-size: 1em;
	    		letter-spacing: 4px;
	    		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: white;
				  text-align: center;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: white;
				  text-align: center;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: white;
				  text-align: center;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: white;
				  text-align: center;
				}
				&:focus {
					border-bottom: solid 1px white;
				}
			}
		}
	}
	svg {
		display: inline;
		max-height: 30px;
		max-width: 30px;
		margin-left: 20px;
		margin-top: 10px;
		fill: white;
	}
}

a.dropdown-btn {
	display: block;
	margin: 0 auto;
	padding: 10px 5px;
    color: white;
    font-size: 1em;
    letter-spacing: 4px;
    cursor: pointer;
	border: 1px solid $blue;
	width: 200px;
	border-radius: 0;
	overflow: hidden;
	background-color: $blue;
	text-align: center;
	@include buttonTransition()
	@include breakFirst(md) {
    	text-align: left;
    	float: right;
    	margin-right: 50px;
	}
	span {
		margin-left: 10px;
	}
	svg {
		color: white;
		width: 15px;
		height: 15px;
		transform: rotate(90deg);
		@include buttonTransition()
	}
    &:hover {
    	color: $red;
    	svg {
    		color: $red;
    	}
    }
}

.dropdown-content {
	display: none;
	color: white;
	width: 100vw;
	height: 100vh;
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 3;
	top: 0;
	right: 0;
	background-color: $blue;

	@include breakFirst(md) {
		position: absolute;
		height: unset;
		width: 100vw;
		top: 640px;
		right: unset;
		padding-bottom: 30px;

		&.practice, &.office {
			top: 140px;
		}
	}
	.button-close {
		position: absolute;
		top: 10px;
		right: 43px;
		@include breakFirst(md) {
			display: none;
		}
	}

	.content-wrap {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		text-align: left;
		@include breakFirst(md) {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin-left: 5%;
		}
		a {
			margin: 10px 0;
			font-size: 1.3em;
			text-align: center;
			padding: 20px 10px;
			@include breakFirst(md) {
				flex: 0 0 200px;
				text-align: left;
				padding: 0 10px;
				font-size: 1.3em;
			}
		}
	}
}

