/* VARIABLES AND MIXINS */
/************************/

/* colors */
$dark-blue: #000729;
$blue: #202d60;
$light-blue: #002b72;
$red: #e41c38;
$light-grey: #efefef;
$bg-grey: #e6e6e6;

$gradient: $light-blue 30%,$dark-blue;

/* image sizes */

$person-wh: 300px;
$round-wh: 80px;

$office-w: 400px;
$office-h: 300px;

$thumb-w: 400px;
$thumb-h: 300px;

$thumb-w-m: 300px;
$thumb-h-m: 225px;

$card-height-d: 1000px;
$card-height-spacing-d: 1350px;
$card-top-spacing: 25px;

$card-height: 2000px;
$card-height-spacing: 2350px;

/* fonts */
$font1: 'Source Sans Pro', sans-serif;
$font2: 'bozemanlight', serif;


/* nav animation mixins */
@mixin transition($ms, $ease) {
  -webkit-transition: all $ms $ease;
  -moz-transition: all $ms $ease;
  -o-transition: all $ms $ease;
  transition: all $ms $ease;
}

@mixin buttonTransition(){
  transition: all 200ms ease;
}

@mixin imgSquare($size) {
  max-width: $size;
  width: $size;
  max-height: $size;
  height: $size;
}

@mixin imgRec($width, $height) {
  max-width: $width;
  width: $width;
  max-height: $height;
  height: $height;
}

/* list page thumbnail size */
@mixin thumbSize() {
  max-width: $thumb-w-m;
  width: $thumb-w-m;
  max-height: $thumb-h-m;
  height: $thumb-h-m;
  @include breakFirst(sm) {
    max-width: $thumb-w;
    width: $thumb-w;
    max-height: $thumb-h;
    height: $thumb-h;
  }
}

@mixin forceSize(){
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

/* responsive breakpoints */
@mixin breakFirst($class) {

  @if $class == xs {
    @media (min-width: 425px) { @content; }
  }

  @elseif $class == sm {
    @media (min-width: 767px) { @content; }
  }

  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1024px) { @content; }
  }

  @else if $class == xl {
    @media (min-width: 1250px) { @content; }
  }

  @else if $class == xxl {
    @media (min-width: 1550px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg, xl, xxl";
  }
}

@mixin breakLast($class) {
  @if $class == xs {
    @media (max-width: 425px) { @content; }
  }
  @else if $class == sm {
    @media (max-width: 767px) { @content; }
  }
  @else if $class == md {
    @media (max-width: 992px) { @content; }
  }
  @else if $class == lg {
    @media (max-width: 1024px) { @content; }
  }

  @else if $class == xl {
    @media (max-width: 1250px) { @content; }
  }

  @else if $class == xxl {
    @media (max-width: 1550px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg, xl, xxl";
  }
}

@mixin breakHeight() {
  @media (max-height: 700px) { @content; }
}